<div class="map_layout">

  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-user-id-value="<%= @user.id %>">
  </div>

  <turbo-frame id="aside">

    <div class="aside">

      <div>
        <% if @user == @current_user %>
          <p>My books</p>
        <% else %>
          <p><%= @user.nickname %></p>
        <% end %>
      </div>

      <div class="map_books_container">
        <% @books_from_user.each do |item| %>
          <%= render "shared/book", book: item.book %>
        <% end %>
      </div>

    </div>

  </turbo-frame>

</div>
