<h1>Hello <%= current_user.nickname %>, this is your Dashboard</h1>

<h1>These are your books:</h1>

<% @my_books.each do |item| %>

  <%= cl_image_tag item.book.photo.key, crop: :fill %>
  <p><%= item.book.title %></p>
  <p><%= item.book.authors %></p>
  <p><%= item.book.id %></p>
  <p><%= item.book.description %></p>
  <p>Current Owner: <%= item.user.nickname %></p>

<% end %>

<h1>These are your requests:</h1>

<% @my_requests.each do |item| %>
  <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
  <p>owned by <%= item.book.current_owner.nickname %></p>
  <p><%= item.status %></p>
  <p>- - -</p>
<% end %>


<h1>These are ingoing requests:</h1>

<div data-controller="request-status">
  <% @requests_made_to_me.each do |item| %>
    <div class='<%= item.status %>'>
      <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
      <p>owned by <%= item.book.current_owner.nickname %></p>
      <p class='status'><%= item.status %></p>
      <button class='btn-deny'data-action="request-status#send" data-request-status-action-param="deny" data-request-status-path-param="<%= request_deny_path(item) %>">Deny</button>
      <button class='btn-approve' data-action="request-status#send" data-request-status-action-param="approve" data-request-status-path-param="<%= request_approve_path(item) %>">Swap!</button></td>
      <p>- - -</p>
    </div>
  <% end %>
</div>
