<h1>Hello <%= current_user.nickname %>!</h1>

<h1>Requests you made:</h1>

<% @my_requests.each do |item| %>
  <div class="request">
    <p>Request (<%= item.created_at.utc.getlocal.strftime("%F  %H:%M") %>)</p>
    <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
    <p>requested from owner <%= item.history.user.nickname %></p>
    <p><%= link_to "Chat with #{item.history.user.nickname}", item %></p>
    <% if item.status == "swapped" %>
      <p>Swapped on <%= item.history.next_history.date_acquired.utc.getlocal.strftime("%F  %H:%M") %></p>
    <% else %>
      <p><%= item.status %></p>
    <% end %>
  </div>
<% end %>


<h1>Incoming requests (<%= @incoming_requests.length %>):</h1>

<div data-controller="request-status">
  <% @incoming_requests.each do |item| %>
    <div class='<%= item.status %> request' data-book-id='<%= item.book.id %>'>
      <p>Request (<%= item.created_at.utc.getlocal.strftime("%F  %H:%M") %>) from <%= item.user.nickname %></p>
      <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
      <p>owned by <%= item.book.current_owner.nickname %></p>

      <%# link_to item.status, "/requests/#{item.id}", class: 'status' %>

      <p><%= link_to "Chat with #{item.user.nickname}", item %></p>
      <div class="status">
        <% if item.status == "pending" %>
          <button class='btn-deny'data-action="request-status#send" data-request-status-action-param="deny" data-request-status-path-param="<%= request_deny_path(item) %>">Deny</button>
          <button class='btn-approve' data-action="request-status#send" data-request-status-action-param="approve" data-request-status-path-param="<%= request_approve_path(item) %>">Swap!</button></td>
        <% elsif item.status == "swapped" %>
          <p>Swapped on <%= item.history.next_history.date_acquired.utc.getlocal.strftime("%F  %H:%M") %></p>
        <% else %>
          <p>denied</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<h1>Books you currently own:</h1>

<div class="current-books">
  <% @my_books.each do |item| %>
    <div class='book_item' data-book-id='<%= item.book.id %>'>
      <%= cl_image_tag item.book.photos.first.key, crop: :fill %>
      <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
      <div class="status">Acquired on <%= item.date_acquired.utc.getlocal.strftime("%F  %H:%M") %></div>
    </div>
  <% end %>
</div>

<h1>Books you previously owned:</h1>

<div class="previous-books">
  <% @my_previously_owned_books.each do |item| %>
    <div class='book_item' data-book-id='<%= item.book.id %>'>
      <%= cl_image_tag item.book.photo.key, crop: :fill %>
      <p><%= link_to item.book.title, item.book %> by <%= item.book.authors %> </p>
      <div class="status">Acquired on <%= item.date_acquired.utc.getlocal.strftime("%F  %H:%M") %> and
      swapped on <%= item.next_history.date_acquired.utc.getlocal.strftime("%F  %H:%M") %></div>
    </div>
  <% end %>
</div>
