<!-- Random Color -->
<% random_colour = ["bg_col_1", "bg_col_2", "bg_col_3", "bg_col_4"].sample %>

<!-- SEARCH FIELD -->
<div class="horizontal_container <%= random_colour %>" >
  <%= render "search" %>
</div>

<!-- BOOKS -->
<div class="books_container">
  <% if params[:query].present? %>
    <% if @book_distance_hash.present? %>
      <% sorted_books = @book_distance_hash.sort_by { |key, value| value[:distance] } %>
      <% sorted_books.each do |key, value| %>
        <% book = value[:book] %>
        <%= render "shared/book", book: book %>
      <% end %>
    <% else %>
      <p>Sorry! No books meet your search query.</p>
    <% end %>
  <% else %>
    <% @books.each do |book| %>
      <%= render "shared/book", book: book %>
    <% end %>
  <% end %>
</div>

<!-- FOOTER -->
<%= render "shared/footer" %>
