<% @books.each do |book| %>
   <%= render book %>
   <p><%= link_to "show this book", book %></p>
<% end %>
<%= link_to "New book", new_book_path %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
