<p><%= link_to "Back to books", books_path %></p>
<%= render @book %>


<%# I AM THE CURRENT OWNER %>
<% if @book.current_owner.id == current_user.id %>
  <p><%= link_to "Delete", @book, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  <p><%= link_to "Edit this book", edit_book_path(@book) %></p>
<% else %>
  <%# I AM NOT THE CURRENT OWNER %>
  <%# DO I HAVE A PENDING REQUEST ON THIS BOOK?  %>
  <% if !@pending_requests_made.exists? %>
    <%= button_to "Make a request", [@book, @request] %>
  <% end %>
<% end %>

<%# I AM THE CURRENT OWNER %>
<% if @book.current_owner.id == current_user.id %>
<%# AND I HAVE RECEIVED REQUESTS ON THIS BOOK %>
  <% @incoming_requests.each do |item| %>
    <div class="request">
      <p>Request at <%= item.created_at.strftime("%F  %H:%M") %></p>
      <p>status <%= item.status %></p>
      <p><%= link_to "Chat with #{item.history.user.nickname}", item %></p>
    </div>
  <% end %>
<% end %>

<%# I HAVE MADE REQUESTS ON THIS BOOK %>
<% if @requests.exists? %>
  <% @requests.each do |item| %>
    <div class="request">
      <p>You made a request at <%= item.created_at.strftime("%F  %H:%M") %></p>
      <p>status <%= item.status %></p>
      <p><%= link_to "Chat with #{item.history.user.nickname}", item %></p>
    </div>
  <% end %>
<% end %>


<%# Book History %>
<% if @book.histories.exists? %>
  <div style="background-color: gray">
    <h1>Book History</h1>
    <% @book.histories.each do |item| %>
      <p>
        <%= item.user.nickname %> got this book on
        <%= item.date_acquired.strftime("%F  %H:%M") %>
      </p>
    <% end %>
  </div>
<% end %>
