<div class="container my-5">
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExample" class="carousel slide">
        <div class="thumbnail border border-1 rounded p-1">
          <div class="carousel-inner">
            <% @book.photos.each do |photo| %>
              <div class="carousel-item active text-center">
                <%= cl_image_tag photo.key, height: 362, width: 267, crop: :fill %>
                <%# <img src="https://books.toscrape.com/media/cache/6b/07/6b07b77236b7c80f42bd90bf325e69f6.jpg" class="" alt=@book.title> %>
              </div>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-sm-6 product_main">
      <h1><%= @book.title %></h1>
      <p>By <%= @book.authors %></p>
      <p>Owner: <%= link_to @book.current_owner.nickname, @book.current_owner %></p>
      <p>Distance: <%= @book.current_owner.distance_to(current_user).to_f.round(1) %> km</p>
      <!-- <p>Location: <%= @book.current_owner.location %></p> -->
        <%# I AM THE CURRENT OWNER %>
      <% if @book.current_owner.id == current_user.id %>
        <p><%#= link_to "Delete", @book, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
        <%= link_to @book, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        <%# <p><%= link_to "Edit this book", edit_book_path(@book)</p>  %>
        <%= link_to edit_book_path(@book), class: "ms-1" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% else %>
        <%# I AM NOT THE CURRENT OWNER %>
        <%# DO I HAVE A PENDING REQUEST ON THIS BOOK?  %>
        <% if !@pending_requests_made.exists? %>
          <%= button_to "Make a request", [@book, @request] %>
        <% else %>
          <%# I HAVE MADE REQUESTS ON THIS BOOK %>
          <%# if @requests.exists? %>
            <%# @requests.each do |item| %>
          <% @pending_requests_made.each do |item| %>
            <div class="request">
              <p>You made a request at <%= item.created_at.strftime("%F  %H:%M") %></p>
              <p>status <%= item.status %></p>
              <p><%= link_to "Chat with #{item.history.user.nickname}", item %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%# I AM THE CURRENT OWNER %>
      <% if @book.current_owner.id == current_user.id %>
      <%# AND I HAVE RECEIVED REQUESTS ON THIS BOOK %>
        <%# @incoming_requests.each do |item| %>
        <% if @pending_requests.empty? !=  true %>
          <% @pending_requests.each do |item| %>
            <div class="request">
              <p>Request at <%= item.created_at.strftime("%F  %H:%M") %></p>
              <%# <p>status <%= item.status </p> %>
              <p>status <%= link_to item.status, dashboard_path %></p>
              <p><%= link_to "Chat with #{item.user.nickname}", item %></p>
            </div>
          <% end %>
        <% end %>
      <%# I HAVE MADE REQUESTS ON THIS BOOK %>
      <%# if @requests.exists? %>
        <%# @requests.each do |item| %>
        <% if @pending_requests_made.exists? %>
          <% @pending_requests_made.each do |item| %>
            <div class="request">
              <p>You made a request at <%= item.created_at.strftime("%F  %H:%M") %></p>
              <p>status <%= item.status %></p>
              <p><%= link_to "Chat with #{item.history.user.nickname}", item %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <h2>Description:</h2>
  <p><%= @book.description %></p>
  <%# Book History %>

<% if @book.histories.exists? %>
  <div class="book-details-history">
    <div class="checkout-card">
      <h1>Book History</h1>
      <% @book.histories.each do |item| %>
        <div class="entry">
          <span class="date"><%= item.date_acquired.strftime("%F  %H:%M") %></span>
          <span class="user-name"><%= item.user.nickname %></span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>
