<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookIsABook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Add Shadows Into Light font link for Book History Card -->
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : "" %>">
    <%= render "shared/navbar" %>

    <%= yield %>

    <!--
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    -->

    <%= render "shared/flashes" %>

  </body>
</html>
